body {
	background-color: gray;
}
table {
	color: lightgray;
	width: 300px;
}
th{
	font-size: 150%;
	font-weight: normal;
	padding-bottom: 15px;
	text-align: left;
	color: lightgray;
}
tr {
	line-height: 30px;
}
mark {
	background-color: gray;
	padding-right: 40px;
	font-style: normal;
	color: red;
}
td:nth-child(odd) {
	color: white;
	/* if the browser is not compatable with HTML5 */
	font-style: italic;
}
tbody tr:last-child  {
	color: orange;
	/* if the browser is not compatable with HTML5 */
	font-weight: bold;
}
td a {
	color: #ffff00;
}
a {
	text-decoration: none;
	font-style: normal;
	padding-right: 50px;
}
a:visited {
	color: #ffff00;
}
.yellowColor {
	color: #ffff00;
}
#nameID img {
	padding-right: 5px;
	margin-bottom: -2px;
}
#postLink {
	text-align: right;
}
#suppStatus {
	text-align: right;
}
